<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="task-completion-generate.js"></script>
        <script type="text/javascript" src="/services/js/platform-core/services/loader.js?id=view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/platform-core/services/loader.js?id=view-css" />
        <script src="task-completion-form-controller.js">
        </script>
    </head>

    <body class="bk-vbox">

        <h1 aria-label="title" class="fd-margin--md">
            Task completion
        </h1>

        <bk-scrollbar class="bk-full-height bk-padding--sm">

            <div class="bk-color-bg--positive bk-padding--md bk-restrict-width--sm bk-border" style="border-radius: 20px;" ng-if="completed">
                <bk-panel expanded="true" compact="true">
                    <bk-panel-content>
                        <span class="sap-icon--message-success" role="presentation" style="font-size:4rem" class="bk-margin-bottom--md"></span>

                        <h2 class="bk-margin-top--md">All Employee Tasks Have Been Completed!</h2>

                        <p class="bk-margin-top--md">
                            Great job! Every task in the list has been successfully completed.
                        </p>
                    </bk-panel-content>
                </bk-panel>
            </div>

            <bk-panel ng-if="!completed" expanded="true" compact="true">
                <bk-panel-content aria-label="Panel Content">

                    <bk-list byline="true">
                        <bk-list-item ng-repeat="next in taskList">
                            <bk-list-content item-title="{{ next.Name }}">
                                <bk-list-byline align="left">
                                    {{ next.Description }}
                                </bk-list-byline>

                                <bk-list-byline align="right">
                                    <bk-button ng-if="!next.isCompleted" label="Complete" state="emphasized" ng-click="completeTask(next)">
                                    </bk-button>
                                </bk-list-byline>

                            </bk-list-content>
                        </bk-list-item>
                    </bk-list>

                </bk-panel-content>
            </bk-panel>
        </bk-scrollbar>

        <theme></theme>
    </body>

</html>
