<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="templateApp" ng-controller="templateController">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" sizes="any" href="data:;base64,iVBORw0KGgo=">
        <title dg-view-title></title>
        <script type="text/javascript" src="task-completion-generate.js"></script>
        <script type="text/javascript" src="/services/js/platform-core/services/loader.js?id=view-js"></script>
        <link type="text/css" rel="stylesheet" href="/services/js/platform-core/services/loader.js?id=view-css" />
        <script src="task-completion-form-controller.js">
        </script>
    </head>

    <body class="bk-vbox">
        <h2 bk-title class="bk-padding--md bk-center" wrap="true" header-size="2" aria-label="title" ng-if="!completed"> Task completion</h2>
        <bk-scrollbar class="bk-full-height bk-padding--sm bk-center--horizontal">
            <bk-message-page glyph="sap-icon--message-information" ng-if="completed">
                <bk-message-page-title>All Employee Tasks Have Been Completed!</bk-message-page-title>
                <bk-message-page-subtitle>Great job! Every task in the list has been successfully completed.
                </bk-message-page-subtitle>
            </bk-message-page>
            <bk-panel ng-if="!completed" expanded="true" compact="true" style="max-width: 80%;" class=" bk-full-width">
                <bk-panel-content aria-label="Panel Content">

                    <bk-list byline="true">
                        <bk-list-item ng-repeat="next in taskList">
                            <bk-list-content item-title="{{ next.Name }}">
                                <bk-list-byline align="left">
                                    <bk-textarea style="height: 100px; max-width: 100%" class="bk-no-border">
                                        {{ next.Description }}
                                    </bk-textarea>
                                </bk-list-byline>
                                <bk-list-byline align="right">
                                    <bk-button ng-if="!next.isCompleted" label="Complete" state="emphasized" ng-click="completeTask(next)">
                                    </bk-button>
                                </bk-list-byline>
                            </bk-list-content>
                        </bk-list-item>
                    </bk-list>
                </bk-panel-content>
            </bk-panel>
        </bk-scrollbar>

        <theme></theme>
    </body>

</html>
